*{
	padding: 0px;
	margin: 0px;
}
body{
	    background: #fff url("../img/home.jpg") no-repeat scroll center top;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
}
.mery{
	
	width: 980px;
    min-height: 788px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}
.mery-header{
	width: 980px;
	height: 170px;
	
}
.header-top{
	width: 960px;
	height: 100px;
	padding: 10px;

}
.header-top-left{
	float: left;
	position: relative;
}
.header-top-right{
	float: right;
	position: relative;

}
#logo{
	position: absolute;
	top: 18px;
	width: 203px;
	height: 66px;
	background-image: url('../img/logo.gif');
}
#acces{
	width: 240px;
	height: 90px;
	

}
.namee{
	font-size: 10px;
	background-image: url('../img/namee.png');
	width: 238px;
	height: 26px;
	float: left;
}
.logita{
	float: left;
	width: 236px;
	border: #d5d5d5 1px solid;
	display: block;
}
.icosa{
	float: left;
	width:36px ;
	height:35px ;
	background-image: url('../img/dina.png');
}
.texto{
	position: relative;
	float: left;
    line-height: 35px;
    padding-left: 12px;
    width: 146px;
    border: none;
    font-size: 15px;
    font-style: italic;
}

.btn{
	float: right;
	width: 40px;
	height: 36px;
	background-image: url('../img/ok.png');
	cursor: pointer;
}
.tewichiya{
	width: 200px;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-image: url('../img/oub.png');
    float: left;
}
.header-nav{
	width: 960px;
	height: 35px;
	background-color: red;
}
.navo{
	text-align: center;
    background: #f5f5f5;
    border-right: 1px solid #fff;
    float: left;
}
.dd{
	width: 162px;
    height: 35px;
    color: #000;
    padding: 0 10px;
    text-decoration: none;
    text-indent: 0px;
    display: block;
    line-height: 35px;
    font-weight: bold;
    background-image: none !important;
    cursor: pointer;

}
.dd:hover{
	color: #FFFFFF;
	background-color: #5094D4;
}
.d1{
	width: 44px;
    height: 35px;
    color: #000;
    text-decoration: none;
    text-indent: 0px;
    display: block;
    line-height: 35px;
    cursor: pointer;
    background-image: url('../img/search.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.d1:hover{
	color: #FFFFFF;
	background-color: #5094D4;
	background-image: url('../img/search1.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.content{
	width: 960px;
	height: 1379px;
	
}
.huubi{
	width: 960px;
	height: 330px;
}
.huubi-left{
	width: 724px;
	float: left;
	height: 330px;
	background-image: url('../img/back.jpg');
	background-size: 100% 100%;
}
.huubi-right{
	width: 234px;
	float: right;
	height: 330px;
	background-image: url('../img/jiha.png');
	background-size: 100% 100%;
}
.hd{
	width: 960px;
	height: 1049px;
	background-image: url('../img/hd.png');
	background-size: 100% 100%;
}
.both{
	width: 960px;
	height: 20px;
}

