.l9lawi{position:absolute;width:222px;height:190px;left:40%;top:120px;display:block;}.kf{position:relative;}
.icos{position:absolute;width:18px;height:18px;top:30px;left:130px;background-image:url('../img/info.gif');}
.uu{width:222px;height:24px;background-image:url('../img/top-clv.gif');}
.cosina{position:absolute;background-image:url('../img/bg-clv.gif');width:222px;height:166px;background-size:100% 100%;opacity:0.56;}
.tota{position:absolute;top:24px;left:0px;width:222px;height:166px;}.voy-left{float:left;width:130px;padding:6px 15px 0 5px;height:160px;}
.voy-right{float:right;width:72px;height:166px;}#khj{margin-left:14px;}
.ego{width:96px;height:20px;margin-left:14px;margin-top: 8px;font-size:18px;}
.mochaghib{width:100px;height:92px;background-image:url('../img/clv.png');margin-left:10px;margin-top:10px;background-size:100% 100%;}
.clv-clv{width:100px;height:92px;position:absolute;left:24px;top:62px;opacity:0.8;}
.btno{width:100%;height:23px;}.btnso{float:left;width:25px;height:23px;}.kss{cursor:pointer;text-indent:-999999px;}
.kss:hover{background-image:url('../img/tc_touche_cache_hover.gif'); margin-left: 0px; margin-top: 1px; background-size:100% 100%;}.khawi{width:100%;height:90px;clear:both;}
.del{width:64px;height:16px;background-image:url('../img/tc_corriger.gif');margin-top:2px;cursor:pointer;}
.valid{width:64px;height:30px;background-image:url('../img/tc_valider.gif');text-indent:-999999px;margin-top:10px;cursor:pointer;}
.ferm{width:59px;height:24px;float:right;background-image:url('../img/ff.gif');cursor:pointer;}
.grn{width:57px;height:7px;background-image:url('../img/tc_agrandir.gif');position:absolute;left:100px;top:8px} 